body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #00305e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 48, 94, 0.5),
    rgba(162, 34, 44, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(0, 48, 94), rgb(162, 34, 44));
}

a {
  color: rgb(0, 48, 94);
}

a:hover {
  color: rgb(162, 34, 44);
}

button:hover {
  background: #a2222c;
  transition: 0.4s;
  color: white;
}

.blue-btn-lg {
  background: rgb(0, 48, 94);
  color: white;
  padding: 0.75rem 2.5rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.tsp-btn-lg {
  color: white;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  border-color: white;
  background-color: transparent;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.link {
  text-decoration: none;
}

.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* ------------------WELCOME------------------*/
.welcome {
  background: linear-gradient(
      to right,
      rgba(0, 48, 94, 0.75),
      rgba(162, 34, 44, 0.75)
    ),
    url("./images/home_bg.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100rem;
  width: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-lg {
  padding: 0.75rem 2.5rem;
  font-size: 1.2rem;
  background: white;
  border: none;
  border-radius: 10px;
  color: #00305e;
  margin: 1rem;
}

.welcome__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__h1 {
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

/* ------------------LOGIN------------------*/

.login,
.signup,
.edit {
  height: 100rem;
  width: 100rem;
}

.login__card {
  width: 20rem;
  height: 25rem;
  margin: 7rem auto;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.loginForm,
.signupForm,
.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm input,
.signupForm input,
.editForm input {
  width: 100%;
  height: 2rem;
  margin: 1rem 3rem;
  font-size: medium;
  border: none;
  border-bottom: solid 1px #dee2e6;
}

.card-title {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(0, 48, 94);
  margin: 0;
}

.sub-card {
  display: flex;
  font-size: small;
}

.text-muted {
  color: grey;
}

.card-link {
  padding-left: 5px;
}

/* ------------------SIGN UP------------------*/

.signup__card,
.edit__card {
  width: 22rem;
  height: 50rem;
  margin: 7rem auto;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

.signupForm,
.editForm {
  width: 100%;
}

select {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  font-size: medium;
  border: none;
  border: solid 1px #dee2e6;
  border-radius: 5px;
}

.form--select,
.form--radio,
.form--checkbox {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}

.form--allRadio,
.form--allCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  height: 1rem;
}

.form--allRadio label,
.form--allCheckbox label {
  padding-right: 1rem;
}

/* ------------------EDIT------------------*/
.edit--back {
  align-self: flex-start;
  text-decoration: none;
}

/* ------------------HOME------------------*/

.home {
  display: flex;
  flex-direction: column;
}

.dashboard {
  background: white;
  height: 100vh;
}

.dashboard--heading {
  color: rgb(0, 48, 94);
  margin-bottom: 3rem;
  margin: 1rem;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

/*
.sidebar {
  padding: 1.5rem;
  color: white;
  height: 100%;
  position: fixed;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.dashboard--offset {
  padding-left: 20rem;
}

.sidebar--image svg {
  width: 7rem;
  height: 7rem;
  padding-bottom: 2rem;
}

.sidebar--personalDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar--name {
  padding-bottom: 1rem;
  font-weight: bold;
}

.sidebar--personalDetailsItem {
  padding: 1rem;
}

.sidebar--label {
  padding-right: 1rem;
  font-style: italic;
}

.sidebar--edit {
  display: contents;
}

.sidebar--logout {
  margin-bottom: 2rem;
}

.sidebar--closeIcon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  margin-left: 10rem;
}
*/

/* ------------------CARD------------------*/

.card {
  transition: 0.3s;
  width: 18rem;
  margin: 2rem;
  border-radius: 1rem;
}

.card--container {
  padding: 2px 16px;
  border-radius: 1rem;
}

.dashboard--directory {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-white {
  color: #fff;
}

.card--listGroup {
  padding: 0;
}

.card--listGroup li {
  list-style-type: none;
}

.card--listGroupDiv {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin: 1rem;
}

.card--listGroupDiv li {
  padding-left: 1rem;
}

/* ------------------NAVBAR------------------*/

.navbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.navbar--sideText {
  margin: 1rem;
  font-style: italic;
  font-weight: bold;
}

.buttonList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.navbar--icon {
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
}

.modal {
  font-size: 1rem;
  border-radius: 5px;
  width: 400px;
}

.modal--content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.modal--header {
  font-weight: bold;
  font-size: 2rem;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.modal--table {
  margin: auto;
}

.table--caption {
  padding: 1rem;
  font-weight: bold;
}

.table--label {
  padding-right: 1rem;
  font-style: italic;
  text-align: right;
}

.table--result {
  text-align: left;
}

@media only screen and (max-width: 360px) {
  .signup__card,
  .edit__card {
    width: 15rem;
  }
}
